    
  <form class="form-inline" role="form" style="position:relative; top:-20px;" method="post" action="/purchaseentry">
    
    <table border="0">
        <tr>
            <td height="0" width="150">
                 <div class="form-group">
                      <label for="pcode">Serial Number:</label> &nbsp;&nbsp;&nbsp;&nbsp;SP 01
                      
                 </div>
            </td>
            
            <td width="450">
                <div class="form-group">
                      
                </div>
            </td>
            
            <td width="250">
            <div class="form-group">
                      <label for="pdiscount">Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="date" class="form-control" id ="invoicedate">

                </div>      
            </td>
        </tr>    
    
    

     <tr>
            <td height="0" width="350">
                 <div class="form-group">
                      <label for="pcode">Payment Type:</label>&nbsp;&nbsp;
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                 </div>
            </td>
            
            <td>
                <div class="form-group">
                      
                </div>
            </td>
            
            <td>
            <div class="form-group">
                      <label for="pdiscount">Invoice No : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SPIN765
                      
                </div>      
            </td>
        </tr>    
            
        
     <tr>
            <td >
                 <div class="form-group">
                      <label for="pcode">Credit To:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                 </div>
            </td>
            
            <td>
                <div class="form-group">
                      
                </div>
            </td>
            
            <td height="0" width="350">
            <div class="form-group">
                      <label for="pdiscount">Invoice Date : </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="date" class="form-control" name="mareacode" >
                      
                </div>      
            </td>
        </tr>    


           <tr>
            <td >
                 <div class="form-group">
                      <label for="pcode">Purchase Type:</label>
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                 </div>
            </td>
            
            <td>
                <div class="form-group">
                      
                </div>
            </td>
            
            <td height="0" width="350">
            <div class="form-group">
                      <label for="pdiscount">LR Date : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="date" class="form-control" name="mareacode" >
                      
                </div>      
            </td>
        </tr>    
        
        
    
        
         <tr>
            <td >
                 <div class="form-group">
                      <label for="pcode">Transport:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                 </div>
            </td>
            
            <td>
                <div class="form-group">
                      
                </div>
            </td>
            
            <td height="0" width="350">
            <div class="form-group">
                      <label for="pdiscount">Case Number: </label>&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                      
                </div>      
            </td>
        </tr>    
        

         <tr>
            <td >
                 <div class="form-group">
                      <label for="pcode">L R Number:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                 </div>
            </td>
            
            <td>
                <div class="form-group">
                      
                </div>
            </td>
            
            <td height="0" width="350">
            <div class="form-group">
                      <label for="pdiscount">R Permit No: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" class="form-control" name="mbstcode" placeholder="">
                      
                </div>      
            </td>
        </tr>    
        

        
        
        </br></br></br></br>

        
  </table>  
</br></br>
   <table border="1">
        <tr>
            <th align="center" width="30">S.No</th>
            <th width="150">Product</th>
            <th width="120">Batch No</th>
            <th width="120">Quantity</th>
            <th width="120">Exp</th>
            <th width="120">Rate</th>   
            <th width="120">Amount</th>   
            <th width="120">Tax</th>   
            <th width="120">Discount</th>
            <th width="120">Free Quanity</th>   
        </tr>
       
       <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>           
       
       </tr>
       
       
       <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>           
       
       </tr>
       
       
       <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>           
       
       </tr>
       
       
       <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>           
       
       </tr>
       
       
   </table>

    </br></br></br></br>
    <button type="submit" class="btn btn-primary">Print</button>
    <button type="reset" class="btn btn-warning">Save As PDF</button>
   
  </form>

 





</div>    